#done {
	padding-left: 4.5%;
	.choose {
		font-family: Poppins;
		font-style: normal;
		font-weight: 600;
		font-size: 26px;
		line-height: 35px;
		color: #222b45;
		width: 660px;
	}
	.interactive {
		font-family: Poppins;
		font-style: normal;
		font-weight: 500;
		font-size: 22px;
		line-height: 30px;
		color: #000000;
	}
	.ant-btn-primary {
		height: 40px;
		border-radius: 8px;
		color: #fff;
		background: #103f00;
		border-color: #103f00;
		text-shadow: none;
		font-family: Poppins;
		font-style: normal;
		font-weight: 600;
		font-size: 15px;
		line-height: 16px;
		text-align: center;
		color: #ffffff;
		padding: 10px 25px;
	}
}
